@import "skin";
@import "muse-ui";
html{
  -webkit-text-size-adjust:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  font-family: Helvetica;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{
  margin:0;
  padding:0;
  font-weight: normal;
  text-indent: 0;
}
a,button,input,textarea,select{
  background: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
  outline:none;
  -webkit-appearance:none;
}
em{
  font-style:normal
}
li{
  list-style:none
}
a{
  text-decoration:none;
}
img{
  border:none;
  vertical-align:top;
}
table{
  border-collapse:collapse;
}
textarea{
  resize:none;
  overflow:auto;
}
html, body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
a, img {
  -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
.hidden {
  display: none;
}
#app {
  height: 100%;
  background-color: @body-color;
}

.child-view {
  position: absolute;
  width:100%;
  transition: all .8s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}