@import "minx";
.mu-bottom-nav {
  background-color: #FFFFFF;
  border-top: 1px solid #E9E9E9;
  .mu-buttom-item {
    color: #c0c0c0;
  }
  .mu-bottom-item-icon {
    transform: translate3d(0, 8px, 0);
  }
  .mu-bottom-item-active {
    .mu-bottom-item-icon, .mu-bottom-item-text {
      color: #000000;
    }
  }
}
.mu-bottom-nav {
  color: #c0c0c0;
}
.mu-popup {
  .px2rem(padding, 16);
  .px2rem(border-radius, 5);
  .px2rem(font-size, 14);
  background-color: #000000!important;
  color: #FFFFFF;
}
.mu-circular-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.mu-item-wrapper {
  border-top:  1px solid #404134;
}
.mu-item {
  .px2rem(min-height, 48);
}
.mu-item-right {
  right: 0;
}