@import "minx";
.mu-circle-spinner {
  border-color: @nav-color;
}
.mu-bottom-nav {
  .mu-buttom-item {
    color: @nav-color;
  }
  .mu-bottom-item-icon {
    transform: translate3d(0, 8px, 0);
  }
  .mu-bottom-item-active {
    .mu-bottom-item-icon, .mu-bottom-item-text {
      color: @theme-color;
    }
  }
}
.mu-bottom-nav {
  color: @nav-color;
}
.mu-popup {
  .px2rem(padding, 16);
  .px2rem(border-radius, 5);
  .px2rem(font-size, 14);
  background-color: @popup-bg-color!important;
  color: @popup-font-color;
}
.mu-circular-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.mu-item-wrapper {
  background-color: @popup-font-color;
  border-top:  1px solid @border-color;
}
.mu-item {
  .px2rem(min-height, 36);
  padding: 10px;
}
.mu-item-right {
  right: 12px;
}
.mu-bottom-sheet {
  text-align: center;
}
.mu-dialog {
  .px2rem(font-size, 25);
}
.mu-dialog-title {
  .px2rem(padding, 20);
  .px2rem(font-size, 25);
}
.mu-dialog-body {
  .px2rem(padding, 20);
  text-align: center;
}
.mu-flat-button-primary {
  color: @popup-bg-color;
}
.mu-item-left, .mu-item-right {
  width: auto;
}
.yes-btn {
  .mu-item {
    color: @btn-color;
  }
}
.demo-raised-button {
  background-color: @theme-color;
  color: #ffffff;
}
.mu-text-field-focus-line {
  background-color: @theme-color;
}
.mu-float-button {
  background-color: @theme-color;
}
.mu-text-field.focus-state {
  color: inherit;
}
.mu-raised-button {
  box-shadow: none;
  border-radius: 0;
}
.mu-radio input[type=radio]:checked + .mu-radio-wrapper .mu-radio-ripple-wrapper, .mu-radio-icon-checked, .mu-radio input[type=radio]:checked + .mu-radio-wrapper .mu-radio-icon-uncheck {
  color: @theme-color;
}
.mu-day-button {
  &.now {
    .mu-day-button-text {
      color: @theme-color;
    }
  }
  &.selected {
    .mu-day-button-text {
      color: #FFFFFF;
    }
  }
}
.mu-date-display, .mu-day-button-bg {
  background-color: @theme-color;
}